<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/items/css/styles.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
<script src="/items/app/js/app.js"></script>
<script src="/items/app/js/controllers.js"></script>
<script src="/items/app/js/directives.js"></script>
<script src="/items/app/js/service.js"></script>
</head>
<body ng-app="itemsApp">

	<div class="container" ng-controller="ItemsCtrl as ctrl">

		<spinner ng-if="ctrl.loading" message="Loading items..."></spinner>

		<div ng-if="!ctrl.loading">

			<!-- add items form -->
			<div class="well well-sm">
				<form ng-submit="ctrl.addItem()">
					<input type="text" class="form-control" ng-model="ctrl.new_item.name" placeholder="Add new item...">
				</form>
			</div>

			<!-- items list -->
			<table class="table">
				<tr ng-repeat="item in ctrl.items">
					<td width="40"><input type="checkbox" ng-model="item.is_done" ng-true-value="1" ng-false-value="0" ng-click="ctrl.checkItem(item)"></td>
					<td ng-class="{'checked':item.is_done}">{{item.name}}</td>
					<td><button class="fa fa-times btn btn-link text-danger pull-right" ng-click="ctrl.deleteItem(item)"></button></td>
				</tr>
			</table>
		</div>

	</div>
</body>
</html>