<div class="container">
	<h1>{{ctrl.event_info.title}}</h1>
	<h2>{{ctrl.event_info.date_string}}</h2>
	<hr>
	<h3>Photo/Video Consent</h3>
	<h4>When you submit your registration, you are agreeing to the following:</h4>
	<p>Without expectation of compensation or other remuneration, now or in the future, I hereby give my consent to MacPractice, its affiliates and agents, to use my image and likeness and/or any interview statements from me in its publications, advertising or other media activities (including the Internet). This consent includes, but is not limited to:
	<ul>
		<li>Permission to interview, film, photograph, tape, or otherwise make a video reproduction of me and/or record my voice</li>
		<li>Permission to use my name</li>
		<li>Permission to use quotes from the interview(s) (or excerpts of such quotes), the film, photograph(s), tape(s) or reproduction(s) of me, and/or recording of my voice, in part or in whole, in its publications, in newspapers, magazines and other print media, on television, radio and electronic media (including the Internet), in theatrical media and/or in mailings for educational and awareness.</li>
	</ul>
	<p><button class="btn btn-success" ng-click="ctrl.submitConsent()"><span class="fa fa-check"></span> I AGREE WITH THIS CONSENT AND WOULD LIKE TO REGISTER</button></p>
</div>