body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.container {
  position:relative;
}

.masthead {
  padding:20px 0;
  background:#fcfcfc;
  border-bottom:1px solid #ddd;
}

.masthead h3 {
  margin:0;
  padding-top:10px;
  margin-left:80px;
}

.masthead-icons {
  list-style:none;
  padding:0;
  margin:0;
}

.masthead-icons li {
  display:inline-block;
  margin-left:20px;
}

.fa-twitter {
  color:#55acee;
}

.rob-bw {
  border:1px solid #fff;
  width:60px;
  position:absolute;
  left:0;
  top:-10px;
}

.main {
  margin-bottom:80px;
}

footer {
  padding:40px 0;
  position:static;
  bottom:0;
  width:100%;
  background:#313b47;
  color:rgba(255,255,255, 0.4);
  font-size:11px;
  text-align:center;
}