body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.masthead {
  background:#ddd;
  padding:20px 0;
}

.masthead h3 {
  margin:0;
}