html,
body {
  height:100%;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  color:#444;
  font-size:16px;
  margin:0;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
  padding-bottom:140px;
}

.sidebar {
  width:320px;
  position:fixed;
  background:#f7f7f7;
  height:100%;
  text-align:center;
  border-right:1px solid #ddd;
}

.icons-list {
  margin:0;
  list-style:none;
  text-align:center;
  padding:20px 0;
}

.icons-list li {
  display:inline;
}

.icons-list li a {
  padding:0 20px;
  color:#666;
  text-shadow:#fff 0 1px 0;
}

.icons-list li a:hover {
  color:#aaa;
  text-decoration:none;
}

.sidebar h3 {
  margin:0 0 10px 0;
  font-weight:normal;
  font-size:36px;
  text-shadow:#fff 0 1px 0;
}

.sidebar h3 a {
  text-decoration:none;
}

.sidebar h3 a:hover {
  text-decoration:none;
  color:#18638d;
}

.sidebar p {
  color:#777;
  margin:0;
}

.sidebar .bucket {
  margin:20px 0;
  width:200px;
}

.sidebar footer {
  width:100%;
  color:#999;
  text-align:center;
  position:absolute;
  bottom:0;
  padding:20px 0;
}

.content {
  overflow:auto;
  padding:20px 40px;
  margin-left:320px;
}

.content h1 {
  font-weight:normal;
  font-size:24px;
  color:#777;
  margin:0 0 10px 0;
}

.content p {
  line-height:28px;
}

.post .summary {
  margin-top:20px;
}

.post time {
  color:#999;
}

a.icons-git-code {
  font-size:24px;
  color:#333;
  top:20px;
  position:relative;
}

a.icons-git-code:hover {
  color:#666;
  text-decoration:none;
}

.mobile-footer {
  display:none;
  padding:40px 0;
  color:#fff;
  text-align:center;
  background:#aaa;
  width:100%;
  height:100px;
  color:#fff;
  text-align:center;
  background:#555;
  font-size:14px;
}

.mobile-footer p {
  margin:0;
}

@media only screen and (max-width: 600px) {

  body {
    margin:0;
  }

  .sidebar {
    border-right:0;
    position:relative;
    height:auto;
    width:100%;
    border-bottom:1px solid #ccc;
  }

  .sidebar footer {
    display:none;
  }

  .content  {
    margin-left:0;
  }

  .mobile-footer {
    display:block;
  }

  a.icons-git-code {
    display:none;
  }
}


