<!DOCTYPE html>
<html>
<head>
<title>AngularJS Copy vs. Clone</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
<script src="app.js"></script>
</head>
<body>
<div ng-app="app" ng-controller="PeopleCtrl as ctrl" class="container">
    <table class="table">
        <tr ng-repeat="p in ctrl.people">
            <td><span ng-bind="p.first"></span> <span ng-bind="p.last"></span></td>
            <td width="10">
                <button ng-click="ctrl.copy(p)" class="btn btn-link">Copy</button>
            </td>
            <td width="10">
                <button ng-click="ctrl.clone(p)" class="btn btn-link">Clone</button>
            </td>
        </tr>
    </table>
    <hr>
    <form ng-submit="ctrl.update()" class="form-inline">
    	<div class="form-group">
        	<input type="text" ng-model="ctrl.edit_person.first" class="form-control">
        </div>
        <div class="form-group">
        	<input type="text" ng-model="ctrl.edit_person.last" class="form-control">
        </div>
        <div class="form-group">
        	<button type="submit" class="btn btn-primary">Update</button>
        	<button type="button" class="btn btn-link" ng-click="ctrl.cancel()">Cancel</button>
        </div>
    </form>
</div>
</body>
</html>
