<header class="masthead">
  <div class="container content">
    <ul class="masthead-icons pull-right">
      <li><a href="http://www.twitter.com/robrothedev"><span class="fa fa-twitter fa-2x pull-right"></span></a></li>
      <li><a href="https://www.linkedin.com/pub/rob-rothe/64/407/b80"><span class="fa fa-linkedin-square fa-2x pull-right"></span></a></li>
    </ul>
    <h3>
      <img src="{{ site.baseurl }}public/images/rob-bw.jpg" class="img-circle rob-bw">
      <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
    </h3>
  </div>
</header>