<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

  <!-- sticky navbar -->
  <div class="navbar-sticky" id="navbar-sticky">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{ site.baseurl }}assets/images/rob.jpg" itemprop="image" alt="Rob Rothe" class="img img-circle img-rob">
        </div>
        <div class="col-sm-9">
          <h1>Rob Rothe // PHP, ReactJS and UI Web Developer</h1>
          <ul class="icons-list">
            <li>
              <a href="http://github.com/robrothedev" data-toggle="tooltip" data-placement="bottom" title="Github">
                <span class="fa fa-github"></span>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/robrothedev" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li>
              <a href="http://www.linkedin.com/pub/rob-rothe/64/407/b80" data-toggle="tooltip" data-placement="bottom" title="Linked In">
                <span class="fa fa-linkedin"></span>
              </a>
            </li>
            <li>
              <a href="mailto:robrothe@gmail.com" itemprop="email" data-toggle="tooltip" data-placement="bottom" title="robrothe@gmail.com">
                <span class="fa fa-envelope"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- default navbar -->
  <div class="navbar navbar-unsticky" id="navbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img src="{{ site.baseurl }}assets/images/rob.jpg" itemprop="image" alt="Rob Rothe" class="img img-circle img-rob">
        </div>
        <div class="col-sm-8">
          <div itemscope itemtype="http://schema.org/Person">
            <h1 itemprop="name">Rob Rothe</h1>
            <h2>
              <span itemprop="jobTitle">PHP, AngularJS and UI Web Developer</span>
            </h2>
            <h3>
              <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="addressLocality">Lincoln</span>,
                <span itemprop="addressRegion">NE</span>
              </span>
            </h3>

            <!-- icons -->
            <ul class="icons-list">
              <li>
                <a href="http://github.com/robrothedev" data-toggle="tooltip" data-placement="bottom" title="Github">
                  <span class="fa fa-github"></span>
                </a>
              </li>
              <li>
                <a href="https://www.twitter.com/robrothedev" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                  <span class="fa fa-twitter"></span>
                </a>
              </li>
              <li>
                <a href="http://www.linkedin.com/pub/rob-rothe/64/407/b80" data-toggle="tooltip" data-placement="bottom" title="Linked In">
                  <span class="fa fa-linkedin"></span>
                </a>
              </li>
              <li>
                <a href="mailto:robrothe@gmail.com" itemprop="email" data-toggle="tooltip" data-placement="bottom" title="robrothe@gmail.com">
                  <span class="fa fa-envelope"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- start content -->
  <div class="content">
    <div class="stripe stripe-light-grey">
      <div class="container">
        <h3 class="about-description">Enthusiastic web developer with nearly twenty years of experience creating websites and web-based applications on
          both the front and back-end.</h3>
        <button class="btn btn-lg btn-default text-center hidden-xs" data-smoothscroll-to="skills">View My Skills &amp; Work</button>
      </div>
    </div>

    <!-- logos -->
    <div class="stripe hidden-xs">
      <div class="container">
        <div class="skill-logos">
          <div class="row">
            <div class="col-sm-4">
              <img src="{{ site.baseurl }}assets/images/php-logo.png" class="img-responsive center-block">
            </div>
            <div class="col-sm-4">
              <img src="{{ site.baseurl }}assets/images/react-logo.png" class="img-responsive center-block">
            </div>
            <div class="col-sm-4">
              <img src="{{ site.baseurl }}assets/images/html5-logo.png" class="img-responsive center-block">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <img src="{{ site.baseurl }}assets/images/mysql-logo.png" class="img-responsive center-block">
            </div>
            <div class="col-sm-4">
              <img src="{{ site.baseurl }}assets/images/jquery-logo.png" class="img-responsive center-block">
            </div>
            <div class="col-sm-4">
              <img src="{{ site.baseurl }}assets/images/css-logo.png" class="img-responsive center-block">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- skills -->
    <div class="stripe stripe-light-grey skills" id="skills">
      <div class="container">
        <div class="row">
          <h2 class="text-center">Skills</h2>

          <div class="col-sm-4 text-center">
            <h3>Server-Side</h3>
            <ul class="list-unstyled">
              <li>PHP</li>
              <li>MySQL</li>
              <li>PDO</li>
              <li>API's</li>
              <li>JWT</li>
              <li>Apache</li>
            </ul>
          </div>

          <div class="col-sm-4 text-center">
            <h3>Client-Side</h3>
            <ul class="list-unstyled">
              <li>ReactJs</li>
              <li>AngularJs</li>
              <li>Bootstrap</li>
              <li>Material UI</li>
              <li>Mobile Development</li>
              <li>Responsive Design</li>
            </ul>
          </div>

          <div class="col-sm-4 text-center">
            <h3>Tools</h3>
            <ul class="list-unstyled">
              <li>Mac OS X</li>
              <li>Visual Studio Code</li>
              <li>GIT/SVN</li>
              <li>Command Line</li>
              <li>Ionic Framework</li>
              <li>PhotoShop</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- work -->
    <div class="stripe work" id="work">
      <div class="container">
        <h2>Work</h2>

        <div class="work-links">
          <div class="row">
            <div class="col-sm-4">
              <h3>Angular Froala Editor</h3>
              <p>An Angular blog app that creates a blog that uses the Froala WYSIWYG editor for adding and editing content.</p>
              <a href="http://robrothedev.com/projects/blog/" class="btn btn-info">
                <span class="fa fa-gear"></span> Demo</a>
              <a href="https://github.com/robrothedev/froala-blog-editor" class="btn btn-default">
                <span class="fa fa-github"></span> View on Github</a>
            </div>
            <div class="col-sm-4">
              <h3>PHP/Angular Registration Form</h3>
              <p>An event registration form built with Angular on the client side and PHP, MySQL and JWT on the server side..</p>
              <a href="http://robrothedev.com/projects/event-registration/" class="btn btn-info">
                <span class="fa fa-gear"></span> Demo</a>
              <a href="https://github.com/robrothedev/ng-event-registration/" class="btn btn-default">
                <span class="fa fa-github"></span> View on Github</a>
            </div>
            <div class="col-sm-4">
              <h3>Saltdogs Mobile App</h3>
              <p>A personal mobile web-app project using the Ionic Framework with a schedule, pricing and seating chart information.</p>
              <a href="http://robrothedev.com/projects/saltdogs/" class="btn btn-info">
                <span class="fa fa-gear"></span> Demo</a>
              <a href="https://github.com/robrothedev/saltdogs-mobile-app" class="btn btn-default">
                <span class="fa fa-github"></span> View on Github</a>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <h3>Angular Form Builder</h3>
              <p>App that creates forms and form elements to the form. Uses jQuery UI sortable interaction for form elements.</p>
              <a href="http://robrothedev.com/projects/form-builder/" class="btn btn-info">
                <span class="fa fa-gear"></span> Demo</a>
              <a href="https://github.com/robrothedev/form-builder" class="btn btn-default">
                <span class="fa fa-github"></span> View on Github</a>
            </div>
            <div class="col-sm-4">
              <h3>Simple Angular List</h3>
              <p>What? Another Angular list example? I know, overdone but one of my first Angular projects and its a bit different.</p>
              <a href="http://robrothedev.com/projects/angular-list-one/" class="btn btn-info">
                <span class="fa fa-gear"></span> Demo</a>
              <a href="https://github.com/robrothedev/angular-list-one" class="btn btn-default">
                <span class="fa fa-github"></span> View on Github</a>
            </div>
            <div class="col-sm-4">
              <h3>CSS Progress Bar</h3>
              <p>A step-by-step progress bar built with HTML and CSS. jQuery has been added for demo purposes but is not required.</p>
              <a href="http://robrothedev.com/projects/progress-steps/" class="btn btn-info">
                <span class="fa fa-gear"></span> Demo</a>
              <a href="https://github.com/robrothedev/progress-steps" class="btn btn-default">
                <span class="fa fa-github"></span> View on Github</a>
            </div>
          </div>
        </div>
        <hr>
        <h3>References, resume and other sample work available upon request.</h3>
        <a href="mailto:robrothe@gmail.com" class="btn btn-lg btn-warning text-center">
          <span class="fa fa-envelope"></span> Get in touch!</a>
      </div>
    </div>
  </div>

  <!-- footer -->
  {% include footer.html %}

</body>

</html>