<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <header class="masthead">
      <div class="container content">
        <h3>
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
        </h3>
      </div>
    </header>
    <div class="container">
      <main>
        {{ content }}
      </main>
    </div>
    <footer class="footer">
      <small>
        &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
      </small>
    </footer>

  </body>
</html>
